In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
arr1 = np.arange(9).reshape(3,3)

In [3]:
arr1

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [4]:
np.concatenate([arr1,arr1], axis=1)

array([[0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5],
       [6, 7, 8, 6, 7, 8]])

In [5]:
ser1 =  Series([0,1,2],index=['T','U','V'])

ser2 = Series([3,4],index=['X','Y'])

In [6]:
pd.concat([ser1,ser2])

T    0
U    1
V    2
X    3
Y    4
dtype: int64

In [7]:
pd.concat([ser1,ser2], axis=1)

     0    1
T  0.0  NaN
U  1.0  NaN
V  2.0  NaN
X  NaN  3.0
Y  NaN  4.0

In [8]:
pd.concat([ser1, ser2], keys=['one','two'])

one  T    0
     U    1
     V    2
two  X    3
     Y    4
dtype: int64

In [9]:
dframe1 = DataFrame(np.random.randn(4,3), columns=['X', 'Y', 'Z'])
dframe2 = DataFrame(np.random.randn(3, 3), columns=['Y', 'Q', 'X'])

In [12]:
pd.concat([dframe1,dframe2])

          Q         X         Y         Z
0       NaN -0.738520  0.855649  2.097283
1       NaN -0.320217  0.053984  1.097903
2       NaN  0.715579  1.949071  1.929424
3       NaN -1.727354  0.279351 -0.181246
0 -0.066540  1.446967  1.132292       NaN
1  0.526584  0.693763 -0.193340       NaN
2 -0.061568 -0.349275 -0.255389       NaN

In [13]:
pd.concat([dframe1,dframe2], ignore_index=True)

          Q         X         Y         Z
0       NaN -0.738520  0.855649  2.097283
1       NaN -0.320217  0.053984  1.097903
2       NaN  0.715579  1.949071  1.929424
3       NaN -1.727354  0.279351 -0.181246
4 -0.066540  1.446967  1.132292       NaN
5  0.526584  0.693763 -0.193340       NaN
6 -0.061568 -0.349275 -0.255389       NaN

In [14]:
pd.concat([dframe1,dframe2], axis=1)

          X         Y         Z         Y         Q         X
0 -0.738520  0.855649  2.097283  1.132292 -0.066540  1.446967
1 -0.320217  0.053984  1.097903 -0.193340  0.526584  0.693763
2  0.715579  1.949071  1.929424 -0.255389 -0.061568 -0.349275
3 -1.727354  0.279351 -0.181246       NaN       NaN       NaN