In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
#Let's make a dframe
dframe = DataFrame({'k1':['X','X','Y','Y','Z'],
                    'k2':['alpha','beta','alpha','beta','alpha'],
                    'dataset1':np.random.randn(5),
                    'dataset2':np.random.randn(5)})

#Show
dframe

   dataset1  dataset2 k1     k2
0 -0.474963  0.378740  X  alpha
1 -0.198220 -0.665259  X   beta
2  1.542324  0.193132  Y  alpha
3 -0.592561  1.339546  Y   beta
4 -0.455258  0.229224  Z  alpha

In [3]:
group1 = dframe['dataset1'].groupby(dframe['k1'])

In [4]:
group1

In [5]:
group1.mean()

k1
X   -0.336591
Y    0.474882
Z   -0.455258
Name: dataset1, dtype: float64

In [6]:
group1.describe()

k1
X   count    2.000000
    mean    -0.336591
    std      0.195687
    min     -0.474963
    25%     -0.405777
    50%     -0.336591
    75%     -0.267406
    max     -0.198220
Y   count    2.000000
    mean     0.474882
    std      1.509592
    min     -0.592561
    25%     -0.058839
    50%      0.474882
    75%      1.008603
    max      1.542324
Z   count    1.000000
    mean    -0.455258
    std           NaN
    min     -0.455258
    25%     -0.455258
    50%     -0.455258
    75%     -0.455258
    max     -0.455258
dtype: float64

In [7]:
cities = np.array(['NY','LA','LA','NY','NY'])
month = np.array(['JAN','FEB','JAN','FEB','JAN'])

In [9]:
cities, month

(array(['NY', 'LA', 'LA', 'NY', 'NY'],
       dtype='|S2'), array(['JAN', 'FEB', 'JAN', 'FEB', 'JAN'],
       dtype='|S3'))

In [13]:
dframe['dataset1'].groupby([cities, month]).mean()

LA  FEB   -0.198220
    JAN    1.542324
NY  FEB   -0.592561
    JAN   -0.465111
Name: dataset1, dtype: float64

In [14]:
for name, group in dframe.groupby('k1'):
    print "This is the %s group" %name
    print group
    print '\n'

This is the X group
   dataset1  dataset2 k1     k2
0 -0.474963  0.378740  X  alpha
1 -0.198220 -0.665259  X   beta


This is the Y group
   dataset1  dataset2 k1     k2
2  1.542324  0.193132  Y  alpha
3 -0.592561  1.339546  Y   beta


This is the Z group
   dataset1  dataset2 k1     k2
4 -0.455258  0.229224  Z  alpha

In [15]:
for (k1,k2), group in dframe.groupby(['k1','k2']):
    print "Key=%s Key2 = %s"%(k1,k2)
    print group
    print'\n'

Key=X Key2 = alpha
   dataset1  dataset2 k1     k2
0 -0.474963   0.37874  X  alpha


Key=X Key2 = beta
   dataset1  dataset2 k1    k2
1  -0.19822 -0.665259  X  beta


Key=Y Key2 = alpha
   dataset1  dataset2 k1     k2
2  1.542324  0.193132  Y  alpha


Key=Y Key2 = beta
   dataset1  dataset2 k1    k2
3 -0.592561  1.339546  Y  beta


Key=Z Key2 = alpha
   dataset1  dataset2 k1     k2
4 -0.455258  0.229224  Z  alpha

In [16]:
dframe

   dataset1  dataset2 k1     k2
0 -0.474963  0.378740  X  alpha
1 -0.198220 -0.665259  X   beta
2  1.542324  0.193132  Y  alpha
3 -0.592561  1.339546  Y   beta
4 -0.455258  0.229224  Z  alpha

In [18]:
group_dict = dict(list(dframe.groupby('k1')))

In [19]:
group_dict

{'X':    dataset1  dataset2 k1     k2
 0 -0.474963  0.378740  X  alpha
 1 -0.198220 -0.665259  X   beta, 'Y':    dataset1  dataset2 k1     k2
 2  1.542324  0.193132  Y  alpha
 3 -0.592561  1.339546  Y   beta, 'Z':    dataset1  dataset2 k1     k2
 4 -0.455258  0.229224  Z  alpha}

In [20]:
group_dict["X"]

   dataset1  dataset2 k1     k2
0 -0.474963  0.378740  X  alpha
1 -0.198220 -0.665259  X   beta