In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
from numpy.random import randn

In [3]:
ser1 = Series([1,2,3,4], index = ['A', 'B', 'C', 'D'])

In [4]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [6]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [8]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [9]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index = [0,5,10])

In [10]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [12]:
ser3.reindex(range(15), method = 'ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [15]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'], columns=['col1','col2','col3','col4','col5'])

In [16]:
dframe

       col1      col2      col3      col4      col5
A  0.531580  0.987510 -0.126312  0.398697 -0.485902
B -0.471332  1.154995  0.890063 -0.754195 -0.448326
D  0.205066  0.064565 -0.049539 -0.696309 -0.132479
E -0.373896 -1.620181 -1.160042 -0.913872  1.071451
F  0.069855 -0.158471  0.213651 -0.084088 -0.062312

In [17]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [18]:
dframe2

       col1      col2      col3      col4      col5
A  0.531580  0.987510 -0.126312  0.398697 -0.485902
B -0.471332  1.154995  0.890063 -0.754195 -0.448326
C       NaN       NaN       NaN       NaN       NaN
D  0.205066  0.064565 -0.049539 -0.696309 -0.132479
E -0.373896 -1.620181 -1.160042 -0.913872  1.071451
F  0.069855 -0.158471  0.213651 -0.084088 -0.062312

In [19]:
new_columns=['col1','col2','col3','col4','col5','col6']

In [20]:
dframe2.reindex(columns = new_columns)

       col1      col2      col3      col4      col5  col6
A  0.531580  0.987510 -0.126312  0.398697 -0.485902   NaN
B -0.471332  1.154995  0.890063 -0.754195 -0.448326   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.205066  0.064565 -0.049539 -0.696309 -0.132479   NaN
E -0.373896 -1.620181 -1.160042 -0.913872  1.071451   NaN
F  0.069855 -0.158471  0.213651 -0.084088 -0.062312   NaN

In [21]:
dframe

       col1      col2      col3      col4      col5
A  0.531580  0.987510 -0.126312  0.398697 -0.485902
B -0.471332  1.154995  0.890063 -0.754195 -0.448326
D  0.205066  0.064565 -0.049539 -0.696309 -0.132479
E -0.373896 -1.620181 -1.160042 -0.913872  1.071451
F  0.069855 -0.158471  0.213651 -0.084088 -0.062312